<!-- <p>sidebar works!</p> -->
<div>
    <mat-list>
        <a mat-list-item role="listitem" style="color: white;" routerLink="/admin">Dashboard</a>
        <a mat-list-item role="listitem" style="color: white;" routerLink="customers">Customers</a>
        <a mat-list-item role="listitem" style="color: white;" routerLink="orders">Orders</a>
        <a mat-list-item role="listitem" style="color: white;" routerLink="products">Products</a>
        <a mat-list-item role="listitem" style="color: white;" routerLink="">Ana Dizin</a>
    </mat-list>
</div>